.header {
  background-color: #000000;
  .user-header {
    background: grey;
    .user-pic {
      background-color: white;
      border-radius: 50%;
      width: 30px;
      height: 30px;
      margin-right: 0.5em;
    }
  }
  .navigation {
    background-color: #885578;

    .menu-list {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: #885578;
      justify-content: space-between;
      float: right;
      li {
        display: flex;
        float: left;
        a {
          display: block;
          color: white;
          text-align: center;
          padding: 14px 16px;
          text-decoration: none;
          padding: 0.4em 0.8em;
          &:hover:not(.active) {
            background-color: white;
            color: #885578;
          }
        }
      
        
      }
      .active {
        background-color: white;
        color: #885578;
      }
    }
   }
  }

  
 