.header {
  .user-header {
    min-height: 4vh;
    .user-pic {
      background-color: white;
      border-radius: 50%;
      width: 30px;
      height: 30px;
      margin-right: 0.5rem;
      padding: 0.5rem;
    }
  }
  .navigation {
    background-color: #885578;
  }
}
.search_bar {
  color: white;
  input {
    background-color: #885578;
    border-color: white;
    &:focus {
      color: white;
      border-color: white;
    }
  }
}
