$nav-color: #885578;
$text-color: hsl(0, 0%, 85%);
$text-color-focus: white;
$nav-height: 64px;
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
=======

>>>>>>> Changing header css
=======
>>>>>>> changing header.scss
=======
>>>>>>> 7355cd12cb2312c5c99c9e2fa99248bb861f015c
.header {
  background-color: #000000;
  .user-header {
    background: $text-color;
    .user-pic {
      background-color: $text-color-focus;
      border-radius: 50%;
      width: 30px;
      height: 30px;
      margin: 2px 10px 2px 8px;
      padding: 0.5rem;
    }
  }
  .navigation {
    background-color: #885578;
    min-height: $nav-height;
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
=======
>>>>>>> 7355cd12cb2312c5c99c9e2fa99248bb861f015c
    text-decoration: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
    .navbar-container {
      display: flex;
      justify-content: space-between;
<<<<<<< HEAD
=======
    position: fixed;
=======
>>>>>>> changing header.scss
    text-decoration: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
    .navbar-container {
      display: flex;
      justify-content: space-between;
<<<<<<< HEAD
      height: 100%;
>>>>>>> Changing header css
=======
>>>>>>> changing header.scss
=======
>>>>>>> 7355cd12cb2312c5c99c9e2fa99248bb861f015c
      align-items: center;
      .home-link {
        color: hsl(0, 0%, 85%);
        text-decoration: none;
<<<<<<< HEAD
        display: flex;
        font-weight: 400;
        align-items: center;
<<<<<<< HEAD
<<<<<<< HEAD
=======

>>>>>>> Changing header css
=======
>>>>>>> changing header.scss
        .navbar-logo {
          background-color: white;
          border-radius: 50%;
          width: 30px;
          height: 30px;
          margin-right: 0.5em;
=======
        display: flex;
        font-weight: 400;
        align-items: center;
        .navbar-logo {
          background-color: white;
          border-radius: 50%;
          width: 30px;
          height: 30px;
          margin-right: 0.5em;
        }
      }
      .menu-list {
        color: $text-color;
        display: flex;
        li {
          .nav-link {
            color: $text-color;
            &:active {
              color: rgba(13, 47, 141, 0.753);
            }
          }
        }
      }
      .search-bar:hover > .search-text {
        width: auto;
        padding: 0 6px;
      }
      .search-bar {
        background: $nav-color;
        border: $text-color;
        padding: 10px;
        .search-btn {
          color: $text-color;
          float: left;
          width: 32px;
          height: 32px;
          border-radius: 50%;
          border-color: $text-color;
          background: $nav-color;
          display: flex;
          justify-content: center;
          align-items: center;
        }
        .search-text {
          border-radius: 40px;
          border-style: solid;
          border-color: $text-color;
          background: none;
          outline: none;
          float: left;
          padding: 0;
          color: $text-color;
          transition: 0.4s;
          line-height: 32px;
          width: 0px;
        }
      }

      .menu-list {
        color: $text-color;
        display: flex;
        li {
          .nav-link {
            color: $text-color;
          }
>>>>>>> 7355cd12cb2312c5c99c9e2fa99248bb861f015c
        }
<<<<<<< HEAD
<<<<<<< HEAD
      }
<<<<<<< HEAD
      .active {
        background-color: white;
        color: #885578;
=======
      
=======
=======

      .search-bar:hover > .search-text {
        width: 240px;
        padding: 0 6px;
      }
      .search-bar {
        transform: translate(-50%, -50%);
        background: $nav-color;

        &:active {
          color: rgba(13, 47, 141, 0.753);
        }
>>>>>>> 7355cd12cb2312c5c99c9e2fa99248bb861f015c
      }
      .menu-list {
        color: $text-color;
        display: flex;
        li {
          .nav-link {
            color: $text-color;
            &:active {
              color: rgba(13, 47, 141, 0.753);
            }
          }
>>>>>>> changing header.scss
        }
      }
      .search-bar:hover > .search-text {
        width: auto;
        padding: 0 6px;
      }
      .search-bar {
        background: $nav-color;
        border: $text-color;
        padding: 10px;
        .search-btn {
          color: $text-color;
          float: left;
          width: 32px;
          height: 32px;
          border-radius: 50%;
          border-color: $text-color;
          background: $nav-color;
          display: flex;
          justify-content: center;
          align-items: center;
        }
        .search-text {
          border-radius: 40px;
          border-style: solid;
          border-color: $text-color;
          background: none;
          outline: none;
          float: left;
          padding: 0;
          color: $text-color;
          transition: 0.4s;
          line-height: 32px;
          width: 0px;
        }
>>>>>>> Changing header css
      }

      .menu-list {
        color: $text-color;
        display: flex;
        li {
          .nav-link {
            color: $text-color;
          }
        }
      }

      .search-bar:hover > .search-text {
        width: 240px;
        padding: 0 6px;
      }
      .search-bar {
        transform: translate(-50%, -50%);
        background: $nav-color;

        &:active {
          color: rgba(13, 47, 141, 0.753);
        }
      }
    }
  }
<<<<<<< HEAD
  .search-bar:hover > .search-text {
    width: auto;
    padding: 0 6px;
  }
  .search-bar {
    background: $nav-color;
    border: $text-color;
    padding: 10px;
    .search-btn {
      color: $text-color;
      float: left;
      width: 32px;
      height: 32px;
      border-radius: 50%;
      border-color: $text-color;
      background: $nav-color;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .search-text {
      border-radius: 40px;
      border-style: solid;
      border-color: $text-color;
      background: none;
      outline: none;
      float: left;
      padding: 0;
      color: $text-color;
      transition: 0.4s;
      line-height: 32px;
      width: 0px;
    }
  }
  .search-bar:hover > .search-text {
    width: auto;
    padding: 0 6px;
  }
  .search-bar {
    background: $nav-color;
    border: $text-color;
    padding: 10px;
    .search-btn {
      color: $text-color;
      float: left;
      width: 32px;
      height: 32px;
      border-radius: 50%;
      border-color: $text-color;
      background: $nav-color;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .search-text {
      border-radius: 40px;
      border-style: solid;
      border-color: $text-color;
      background: none;
      outline: none;
      float: left;
      padding: 0;
      color: $text-color;
      transition: 0.4s;
      line-height: 32px;
      width: 0px;
    }
  }
}

.search_bar {
  color: white;
  input {
    background-color: #885578;
    border-color: white;
    &:focus {
      color: white;
      border-color: white;
    }
  }
=======
>>>>>>> changing header.scss
}
