@import "globals.scss";


.interests-section{
    margin:3%;
 .col-4{
        margin:5%;

    .interestseccard{
        
        box-shadow:
               10px 10px 15px rgba(0, 0, 0, 0.925) ;
   
       .card-header{
           margin:2%;
    border-bottom-color: #6c757d;
    color:$card-title-color;
}
   }
}
}