@import "globals.scss";



.recents-container {
  background-color: $secondary-color;
  direction: rtl;
  position: fixed;
  // box-shadow: 0 4px 8px 0 rgba(92, 88, 88, 0.2), 0 6px 12px 0 rgba(78, 77, 77, 0.466);


  .recents-heading {
    
   
    h2 {
      padding-top: 10px;
      font-family: "Nunito", sans-serif;
      color: #fff;
      font-size: 2rem;
      text-align: center;
    }
  }
  .scrollbar {
    background-color: $primary-color;
    border-left: 0.8px solid #3f3f3f;
    height: 76vh;
    overflow-x: hidden;
    overflow-y: scroll;
    
  }
  .news-section {
    
    direction: ltr;
   
  }
}
