.recents-container {
  background-color: $secondary-color-light;
  direction: rtl;
  position: fixed;
  .recents-heading {
    h2 {
      padding-top: 10px;
      color: #fff;
      text-align: center;
    }
  }
  .scrollbar {
    background-color: $primary-color;
    border-left: 0.8px solid $primary-color-light;
    height: 84vh;
    overflow-x: hidden;
    overflow-y: scroll;
  }
  .news-section {
    direction: ltr;
  }
}
