@import "globals.scss";
.recents-container {
  padding: 5%;

  direction: rtl;
  .recents-heading {
    height: 60px;
    background-color: $secondary-color;

    h2 {
      padding-top: 10px;
      font-family: "Nunito", sans-serif;
      color: #fff;
      font-size: 2rem;
      text-align: center;
    }
  }

  .scrollbar {
    border-left: 0.8px solid #3f3f3f;
    height: 500px;
    overflow-x: hidden;
    overflow-y: scroll;
  }
  .news-section {
    padding: 5%;
    direction: ltr;
  }
}


.recents-container {
  padding: 5%;
  direction: rtl;
  .recents-heading {
    background-color: $secondary-color;
    h2 {
      padding-top: 10px;
      font-family: "Nunito", sans-serif;
      color: #fff;
      font-size: 2rem;
      text-align: center;
    }
  }
  .scrollbar {
    border-left: 0.8px solid #3f3f3f;
    height: 1000px;
    overflow-x: hidden;
    overflow-y: scroll;
  }
  .news-section {
    padding: 5%;
    direction: ltr;
  }
}
