@font-face {
  font-family: "Nexa Light";
  src: url("../assets/fonts/nexa/Nexa Light.otf"); }

@font-face {
  font-family: "Nexa Bold";
  src: url("../assets/fonts/nexa//Nexa Bold.otf"); }

@font-face {
  font-family: "Nunito Sans Regular";
  src: url("../assets/fonts/nunito/NunitoSans-Regular.ttf"); }

@font-face {
  font-family: "Nunito Sans ExtraBold";
  src: url("../assets/fonts/nunito/NunitoSans-ExtraBold.ttf"); }

@font-face {
  font-family: "Nunito Sans SemiBold";
  src: url("../assets/fonts/nunito/NunitoSans-SemiBold.ttf"); }

@font-face {
  font-family: "Nunito Sans Bold";
  src: url("./../assets/fonts/nunito/NunitoSans-Bold.ttf"); }

@font-face {
  font-family: "Nunito Sans Black";
  src: url("../assets/fonts/nunito/NunitoSans-Black.ttf"); }

.heading-font {
  font-family: Nexa Bold; }

.largetext-font {
  font-family: Nexa Light; }

.text-font-regular {
  font-family: "Nunito Sans Regular"; }

.text-font-semibold {
  font-family: "Nunito Sans SemiBold"; }

.text-font-extrabold {
  font-family: "Nunito Sans ExtraBold"; }

.text-font-bold {
  font-family: "Nunito Sans Bold"; }

.text-font-black {
  font-family: "Nunito Sans Black"; }

.header {
  background-color: #000000; }
  .header .user-header {
    background: grey; }
    .header .user-header .user-pic {
      background-color: white;
      border-radius: 50%;
      width: 30px;
      height: 30px;
      margin-right: 0.5em;
      padding: 0.5em; }
  .header .navigation {
    background-color: #885578; }
    .header .navigation .menu-list {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: #885578;
      justify-content: space-between;
      float: right; }
      .header .navigation .menu-list li {
        display: flex;
        float: left; }
        .header .navigation .menu-list li a {
          display: block;
          color: white;
          text-align: center;
          padding: 14px 16px;
          text-decoration: none;
          padding: 0.4em 0.8em; }
          .header .navigation .menu-list li a:hover:not(.active) {
            background-color: white;
            color: #885578; }
      .header .navigation .menu-list .active {
        background-color: white;
        color: #885578; }

.search_bar input {
  background-color: #885578; }
